.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;

    // Change for <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 20px rgba($color-dark, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 0.2rem rgba($color-dark, 0.2);
  }

  &--white {
    color: $color-grey-dark;
    background-color: $color-white;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    color: $color-white;
    background-color: $color-primary;

    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    transition: all 0.4s;
  }

  &--animation {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-txt {
  &:link,
  &:visited {
    color: $color-primary;
    border-bottom: 1px solid $color-primary;
    text-decoration: none;
    display: inline-block;
    padding: 3px;
    font-size: $default-font-size;
    transition: all 0.2s;
  }
  &:hover {
    background-color: $color-primary;
    color: $color-white;
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.15);
  }

  &:active {
    transform: translateY(0px);
    box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.15);
  }
}
