.feature-box {
  background-color: rgba(#fff, $alpha: 0.8);
  font-size: 1.5rem;
  border-radius: 3px;
  text-align: center;
  padding: 2.5rem;
  box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.15);
  transition: transform 0.3s;

  &__icon {
    font-size: 6rem;
    display: inline-block;
    // background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    // background-clip: text;
    // // -webkit-background-clip: text;
    // color: transparent;
    // -webkit-text-fill-color: transparent;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
