.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0rem 3rem 6rem rgba($color-dark, 0.1);
  background-color: rgba($color-white,.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);
  // position: relative;
  &__shape {
    width: 15rem;
    height: 15rem;
    // background-color: orangered;
    float: left;
    overflow: hidden;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translate(-3rem) skewX(12deg);
    position: relative;
  }

  &__image {
    height: 100%;
    // background-position: center;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s;
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-align: center;
    opacity: 0;
    font-size: 1.7rem;
    transition: all .5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}
