.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 35px;
    backface-visibility: hidden;
    animation: moveInLeft 1s ease-in-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 17.4px;
    backface-visibility: hidden;
    animation: moveInRight 1s ease-in-out;
    margin-bottom: 6rem;
  }
}

.heading-secondnary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(#0000, $alpha: 0.2);
  }
}

.heading-teritary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
